.hx-welcome{
	margin: 0 0 0 5vw;
}

.hx-table{

}

.table-head{
	font-weight: bold;
	background-color: #9370DB;
	color: white;
}

td > a{
	color: white;
}

a:hover{
	color: white;
	cursor: pointer;
}

table {
    border: 1px solid gray;
    width: 80%;
    margin: 0 auto 2vw auto;
}

th, td{
	padding-left: 3vw;
	height: 2.5vw;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.form-group {
	width: 80vw;
	margin: 2vw auto 0 auto;

}

h1 {
  border-bottom: 1px solid #9370DB;
  border-bottom-width: thick;
}

button {
	background-color: #9370DB;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}